# Ignore node_modules directory
node_modules/

# Ignore distribution directory
dist/

# Ignore output directory
out/

# Ignore .DS_Store files
.DS_Store

# Ignore log files
*.log*

# Ignore __pycache__ directory
__pycache__/

# Ignore temporary files
*.tmp

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package-lock.json file
package-lock.json

# Ignore .env file
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore backup files
*.bak
*.swp
*~

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore database files
*.db
*.sqlite

# Ignore generated documentation
docs/

# Ignore build artifacts
build/# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# ignore test data
fixed.zarr
move.zarr

# nix stuff
.devenv.flake.nix
.envrc
.direnv/